<div class="thumbnail">
    <div class="caption">
        <h4 class="text-center">{{ show.show_name }}</h4>
        <ul>
            <li>Episode name: {{ show.name }}</li>
            <li>Last release: Season {{ show.lastEpisode.season }}, Episode: {{ show.lastEpisode.number }} </li>
            <li class="{% if show.lastEpisode.is_new %} new-release{% endif %}
                  {% if show.lastEpisode.is_getting_older %} getting-old {% endif %}">
                Last release date {{ show.lastEpisode.release_date }}</li>
            <li>Next release: Season {{ show.nextEpisode.season }}, Episode: {{ show.nextEpisode.number }} </li>
            <li class="{% if show.nextEpisode.almost_released %} almost-released {% endif %}"> Next release date {{ show.nextEpisode.release_date }}</li>
        </ul>

    </div>
</div>